body{
	background-color: #eee;
}
nav{
	background-color: white;
}
#logo{
	height: auto;
	width: auto;
	max-width: 250px;
	max-height: 100px;
	object-fit: contain;
}
.container{
	padding: 30px 0;
}
.resep{
	margin-top: 20px;
	margin-bottom: 20px;
}
#resepsamping{
	background-color: white;
}
.listsamping{
	position: relative;
}
h2{
	font-family: tiempos;
}
h5{
	font-weight: bold;
}
.porsi{
	color: grey;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: monospace;
}
.listsamping a{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.videohome{
	background-color: white;
}
.items{
	margin-bottom: 15px;
}
.items2{
	margin-top: 15px;
	margin-bottom: 15px;
}
.INTRUKSI{
	margin-top: 20px;
}
#phone{
	margin-top: 20px;
	margin-left: 20px;
}
.text1{
	margin-top: 30px; 
}