body{
	background-color: #eee;
}
.bodytv{
	background-color: white;
}
nav{
	background-color: white;
}
.it{
    font-size: 60px;
    font-family: tiempos;
    text-align: center;
    line-height: 48px;
    padding-bottom: 20px;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 0px 24px;
}
.vp p{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.3px;
    margin-bottom: 2px;	
}
.vp img{
	width: 42px;
    height: 42px;
    animation-name: indicator-bounce;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate
}
.vp{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13px;
    cursor: pointer;	
}
.scrolbartv{
	text-align: left;
    display: block;
    margin: 0px auto;
    max-width: 100%;
    padding: 60px;
}
.HOH{
	font-weight: 700;
    font-size: 60px;
    color: rgb(26, 25, 25);
    letter-spacing: 3.75px;
    line-height: 1;
    text-transform: uppercase;
}
.BNOT{
    font-size: 36px;
    color: rgb(26, 25, 25);
    letter-spacing: 2.6px;
    line-height: 48px;
    font-weight: 100;
    text-transform: uppercase;   
}
.captiontv{
	letter-spacing: 0.6px;
    text-align: center;
    line-height: 1.2;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 0px 24px;
    font-weight: 400;
    font-size: 18px;
    max-width: 600px;
    margin: 0px auto;
    padding-bottom: 30px;
}
.headertv{
	background: url("../img/tampilantvbesar.jpg");
	padding: 250px 0;
	color: white;
	text-align: center;
	position: relative;
	background-repeat: no-repeat;
}
#logo{
	height: auto;
	width: auto;
	max-width: 250px;
	max-height: 100px;
	object-fit: contain;
}
.container{
	padding: 30px 0;
}
.resep{
	margin-top: 20px;
	margin-bottom: 20px;
}
#resepsamping{
	background-color: white;
}
.listsamping{
	position: relative;
}
h2{
	font-family: tiempos;
}
h5{
	font-weight: bold;
}
.porsi{
	color: grey;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: monospace;
}
.listsamping a{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.videohome{
	background-color: white;
}
.items{
	margin-bottom: 15px;
}
.items2{
	margin-top: 15px;
	margin-bottom: 15px;
}
.INTRUKSI{
	margin-top: 20px;
}
#phone{
	margin-top: 20px;
	margin-left: 20px;
}
.text1{
	margin-top: 30px; 
}
.ScrollableContent{
    position: relative;
}
.ScrollableContent1{
	height: 320px;
    margin-left: -500px;
}
.ScrollableContent1::before {
    animation-name: khEveK;
}
.ScrollableContent1::after {
    animation-name: dLUVMx;
}
.ScrollableContent1::before, .ScrollableContent1::after {
    content: "";
    display: block;
    position: absolute;
    height: 300px;
    width: 2140px;
    background-size: 2140px 310px;
    background-image: url("../img/tvjalan2.jpg");
    animation-duration: 160s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}
.ScrollableContent2{
	height: 320px;
    margin-left: -714px;
}
.ScrollableContent2::before {
    animation-name: dnkfNh;
}
.ScrollableContent2::after {
    animation-name: dLUVMx;
}
.ScrollableContent2::before, .ScrollableContent2::after {
    content: "";
    display: block;
    position: absolute;
    height: 300px;
    width: 2140px;
    background-size: 2140px 310px;
    background-image: url("../img/tvjalan1.jpg");
    animation-duration: 160s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}