body{
	background-color: #eee;
}
.bodytv{
	background-color: white;
}
nav{
	background-color: white;
}
.it{
    font-size: 60px;
    font-family: tiempos;
    text-align: center;
    line-height: 48px;
    padding-bottom: 20px;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 0px 24px;
}
.vp p{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.3px;
    margin-bottom: 2px;	
}
.vp img{
	width: 42px;
    height: 42px;
    animation-name: indicator-bounce;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate
}
.vp{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13px;
    cursor: pointer;	
}
.scrolbartv{
	text-align: left;
    display: block;
    margin: 0px auto;
    max-width: 100%;
    padding: 60px;
}
.HOH{
	font-weight: 700;
    font-size: 60px;
    color: rgb(26, 25, 25);
    letter-spacing: 3.75px;
    line-height: 1;
    text-transform: uppercase;
}
.BNOT{
    font-size: 36px;
    color: rgb(26, 25, 25);
    letter-spacing: 2.6px;
    line-height: 48px;
    font-weight: 100;
    text-transform: uppercase;   
}
.captiontv{
	letter-spacing: 0.6px;
    text-align: center;
    line-height: 1.2;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 0px 24px;
    font-weight: 400;
    font-size: 18px;
    max-width: 600px;
    margin: 0px auto;
    padding-bottom: 30px;
}
.headertv{
	background: url("../img/tampilantvbesar.jpg");
	padding: 250px 0;
	color: white;
	text-align: center;
	position: relative;
	background-repeat: no-repeat;
}
#logo{
	height: auto;
	width: auto;
	max-width: 250px;
	max-height: 100px;
	object-fit: contain;
}
.container{
	padding: 30px 0;
}
.resep{
	margin-top: 20px;
	margin-bottom: 20px;
}
#resepsamping{
	background-color: white;
}
.listsamping{
	position: relative;
}
h2{
	font-family: tiempos;
}
h5{
	font-weight: bold;
}
.porsi{
	color: grey;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: monospace;
}
.listsamping a{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.videohome{
	background-color: white;
}
.items{
	margin-bottom: 15px;
}
.items2{
	margin-top: 15px;
	margin-bottom: 15px;
}
.INTRUKSI{
	margin-top: 20px;
}
#phone{
	margin-top: 20px;
	margin-left: 20px;
}
.text1{
	margin-top: 30px; 
}
.ScrollableContent{
    position: relative;
}
.ScrollableContent1{
	height: 320px;
    margin-left: -500px;
}
.ScrollableContent1::before {
    animation-name: khEveK;
}
.ScrollableContent1::after {
    animation-name: dLUVMx;
}
.ScrollableContent1::before, .ScrollableContent1::after {
    content: "";
    display: block;
    position: absolute;
    height: 300px;
    width: 2140px;
    background-size: 2140px 310px;
    background-image: url("../img/tvjalan2.jpg");
    animation-duration: 160s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}
.ScrollableContent2{
	height: 320px;
    margin-left: -714px;
}
.ScrollableContent2::before {
    animation-name: dnkfNh;
}
.ScrollableContent2::after {
    animation-name: dLUVMx;
}
.ScrollableContent2::before, .ScrollableContent2::after {
    content: "";
    display: block;
    position: absolute;
    height: 300px;
    width: 2140px;
    background-size: 2140px 310px;
    background-image: url("../img/tvjalan1.jpg");
    animation-duration: 160s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}
.banner2{
    background-image: url("../img/bannertv2.jpg");
    height: 690px;
    background-size: cover;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat;
    margin: 40px 0px 0px;
}
.contentbanner2{
	max-width: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    padding: 0px 0px 0px 5%;
    text-align: left;
    position: relative;
}
.WOADT{
	font-size: 60px;
    letter-spacing: 4px;
    line-height: 50px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 0px 24px;
    text-transform: uppercase;
}
.Enjoy{
	display: block;
    letter-spacing: 0.2px;
    line-height: 22px;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 0px 24px;
    padding: 20px 0px;
}
.banner3{
    background-image: url("../img/bannertv3.jpg");
    height: 630px;
    background-size: cover;
    position: relative;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat;
}
.contentbanner3{
	max-width: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 0px 0px auto;
    padding: 0px 2% 0px 0px;
    text-align: left;
    position: relative;
    color: rgb(0, 0, 0);
}
.NSEW{
	font-size: 60px;
    letter-spacing: 4px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.captbanner3{
	display: block;
    letter-spacing: 0.2px;
    line-height: 22px;
    padding: 20px 0px;
}
.MarketingPage{
	padding-top: 80px;
    padding-bottom: 40px;
    background-color: #FAFAFA;

}
.MarketingHeader{
	margin-bottom: 50px;
    padding: 0px 50px;
}
.PPA{
	text-transform: none;
    font-weight: 500;
    margin: 0px;
    font-family: Tiempos;
    text-align: center;
    display: block;
    font-size: 50px;
    line-height: 54px;
    margin-bottom: 20px;
}
.Captmarketing{
	display: block;
    margin:0px;
    text-align: center;
    font-size: 19px;
    letter-spacing: 0.2px;
    line-height: 1.3;
}
.SubscriptionPlans{
    position: relative;
    padding-bottom: 40px;
    max-width: 705px;
    margin: 0px auto;
    overflow: auto;
}
.featurelist{
    max-width: 400px;
    column-gap: 20px;
    column-count: 2;
    margin: 0px auto 30px;
    padding: 0px 25px;
}
.featurelist > div{
    margin-bottom: 15px;
}
.Item{
    text-align: left;
    display: flex;
}
.CheckContainer{
    margin-right: 10px;
}
.CheckMark{
    display: inline-block;
}
.CheckMark::after{
	content: "";
    display: block;
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    border-style: solid;
    border-color: rgb(255, 80, 44);
    border-image: initial;
    border-width: 0px 2px 2px 0px;	
}
.TextContainer{
	font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    margin: 0px;
    display: block;
}
.PC{
	display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 10px;
}
.PCG{
    position: relative;
    margin-bottom: 30px;
    flex-basis: 50%;
}
.BC{
    display: block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 22px 0px;
    padding: 12%;
    margin: 0px 10px;
    border-radius: 4px;
    transition: transform 200ms ease 0s;
}
a, a:hover, a:focus {
    color: rgb(38, 38, 38);
    -webkit-tap-highlight-color: rgba(153, 153, 153, 0.8);
    text-decoration: none;
}
.BT{
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2.4px;
    line-height: 26px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.Sec{
	color: rgb(77, 202, 150);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-size: 20px;
    height: auto;
}
.space{
	height: 30px;
}

.BaseLayout {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1060px;
    z-index: 2;
}
.Layoutlogin{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 60px 20px;
    flex-flow: column;
}
.LayoutBox{
	max-width: 400px;
}
.BA{
	margin-bottom: 15px;
    text-align: center;
    font-size: 34px;
    line-height: 34px;
    font-family: Tiempos;
    text-transform: none;
    font-weight: 500;
    margin: 0px;
    display: block;
    font-size: 2em;
}
.LayoutContent{
	background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-image: initial;
    padding: 30px;
    border-radius: 10px;
}
.BaseLabel{
	color: rgb(38, 38, 38);
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0px;
}
.BaseInput{
    box-shadow: none;
    display: block;
    background-color: rgb(247, 247, 247);
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    padding: 12px 15px;
}
input{
	overflow: visible;
	line-height: 1.15;
    margin: 0px;
    font-family: inherit;
}
.RegisterForm{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 13px 0px;
}
[type="checkbox"]{
    box-sizing: border-box;
    padding: 0px;
    -webkit-appearance: checkbox;
    background-color: initial;
    cursor: default;
    border: initial;
}
.RegisterFormCapt{
	text-align: center;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    color: rgb(135, 135, 135);
    letter-spacing: 0.2px;
    display: block;
    margin: 0px;
}
.LoginConfirm{
	margin-top: 24px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 18px;
    margin: 0px;
}
.LoginConfirm a, .LoginConfirm a:hover, .LoginConfirm a:focus {
    color: rgb(62, 125, 255);
}
.ForgetPassword{
	font-size: 14px;
    text-align: right;
    margin: 2px 0px 10px;
    letter-spacing: 0.2px;
    line-height: 18px;
}
.ForgetPassword a {
    color: rgb(36, 69, 218);
}
.LoginFormWarning{
    background-color: rgb(255, 237, 222);
    color: rgb(242, 48, 30);
    margin-top: 20px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 80, 44);
    border-image: initial;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    margin: 10px;
    display: block;
}
.SearchMenu {
    width: 100vw;
    background-color: rgb(38, 38, 38);
    position: absolute;
    right: 0px;
    left: 0px;
    top: 64px;
    visibility: visible;
    opacity: 1;
    display: block;
}
.SearchMenuContainer {
    max-width: 1060px;
    min-height: 400px;
    margin: 0px auto;
    padding: 60px 30px;
}
.SearchBarContainer {
    position: relative;
    display: block;
    margin-top: 0em;
}
.SearchBar{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    margin: 6px 5px 0px;
}
.SearchInput{
	border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    box-shadow: none;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 26px;
    background: transparent;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid rgb(151, 151, 151);
    padding: 10px 20px 10px 50px;
}
.bRZDHl {
    position: relative;
    float: left;
    width: 100%;
    padding: 0px 15px;
    margin: 0px;
}
.kbJajj {
    max-width: 1060px;
    width: 100%;
    display: block;
    position: relative;
    margin: 0px auto 15px;
}
.kbJajj::after, .kbJajj::before {
    content: "";
    clear: both;
    display: table;
}
.bRZDHl {
    position: relative;
    float: left;
    width: 100%;
    padding: 0px 15px;
    margin: 0px;
}
h1 {
    font-size: 40px;
    line-height: 44px;
    font-family: Tiempos;
    text-transform: none;
    font-weight: 500;
    margin: 0px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.cOoPS {
    letter-spacing: 1.8px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    background-color: transparent;
    color: rgb(36, 69, 218);
    width: auto;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 10px 0px;
}
button{
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}
.eEgjNv {
    max-width: 1060px;
    width: 100%;
    display: block;
    position: relative;
    margin: 0px auto;
}
.pwWgy .plan-column {
    margin-bottom: 30px;
}
.zuRPr {
    width: 50%;
    flex-basis: 50%;
    position: relative;
    float: left;
    padding: 0px 15px;
    margin: 0px;
}
.lloeIf:last-child {
    margin-bottom: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    padding: 30px;
    border-radius: 10px;
}
form {
    display: block;
    margin-top: 0em;
}
.u-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
label {
    cursor: default;
}
.eNDTmO {
    box-shadow: none;
    display: block;
    background-color: rgb(247, 247, 247);
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    padding: 12px 15px;
}
.lloeIf {
    margin-bottom: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    padding: 30px;
    border-radius: 10px;
}